cas.url={{cas_url}}
kouta-external.cas.service={{kouta_external_cas_service}}
kouta-external.cas.allowOldTarjontaRole={{kouta_external_cas_allow_old_tarjonta_rule}}
kouta-external.elasticsearch.url={{kouta_external_elasticsearch_url}}

host.virkailija={{host_virkailija}}
kayttooikeus-service.userDetails.byUsername=https://{{host_virkailija}}/kayttooikeus-service/userDetails/$1
organisaatio-service.organisaatio.hierarkia=https://{{host_virkailija}}/organisaatio-service/rest/organisaatio/v4/hierarkia/hae
root.organisaatio.oid=1.2.246.562.10.00000000001
